@using TXTextControl.Web.MVC

<div style="width: 100%; height: 800px;">

@Html.TXTextControl().TextControl(settings => {
    settings.Dock = TXTextControl.Web.DockStyle.Fill;
}
).Render()

</div>

@section scripts {
<script>
    TXTextControl.addEventListener("ribbonTabsLoaded", function (e) {

        // get the ribbon tab content and add it after the Merge Fields group in
        // the reporting tab
        $.get("/RibbonExtensions/ChatGpt/chatgpt_group.html?test=0", function (data) {

            $("#ribbonGroupClipboard").after(data);

        });

    });
</script>
}